{% extends "index.html" %} 

{%block content%} 
{% load crispy_forms_tags %} 

    <!--<h1>Register Page</h1>-->

    <div class="container-fluid" style="margin-top: 50px;">
        <div class="col-md-offset-4 col-md-4">
            <h2 class = "text-primary page-header text-center"><i class='fa fa-users'> Registration </i></h2> 
            <form method ="POST" autocomplete="off">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-primary btn-block" value="Register">
            </form>
            
            
        </div>
    </div>
  

{% endblock %}